@import url('https://fonts.sandbox.google.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.mng-head-menus {
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    .mng-head-menu {
        display: flex; 
        justify-content: center; 
        align-items: center;
        min-width: 120px;
        padding: 5px 10px;
        border: 1px solid #e2e2e2;
        text-decoration: none;
        &:active {color: black;}
        &.selected {
            background-color: #eee;
            font-weight: 700;
        }
    }
}

.main {width: 80%; margin:0 auto;}
.m-title {font-size: 1.8rem; font-weight: 700; padding: 10px;}
.s-title {font-size: 1.6rem; font-weight: 600; padding: 5px;}
.center-text {text-align: center;}
.tool-bar {display:flex; justify-content: center; align-items: center;padding: 5px;}
.tool-bar-group {position:relative; border: 2px solid #e2e2e2; border-radius: 5px;}
.tool-bar-row-group {display:flex; justify-content: center; align-items: center; gap:5px;}
.tool-bar button:last-child {
    margin-left:10px; 
    // padding-right: 0;
}
.tool-bar-btn {background:none; border: none; cursor: pointer; display: flex;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.wp70 {width:70%}
.tool-bar-check-label {font-size: 1.2rem}
.flex-flex {display:flex !important;}
.align-center {align-items: center;}
.flex-flex-center {display:flex !important; justify-content: center; align-items: center;}
.flex-side {justify-content: space-between;}
.flex-left {justify-content: start;}
.flex-right {justify-content: end;}
.flex-label100 {flex-basis: 100px;}
.abs-top-right {display: inline-block;position: absolute;top: 10px; right: 10px;}
.input-box {border: 1px solid #eee; padding:10px; border-radius: 3px; position: relative; margin-top: 20px;}
.input-box-title {display: inline-block; position: absolute; top: -12px; left: 24px}
table {width: 100%; border: 1px solid #eee; border-collapse: collapse;}
th,td {padding: 3px; border: 1px solid darkgray;}
th {background-color: #e2e2e2;}
a {cursor: pointer;}

