@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@import "reset.scss";

@mixin titl($size: 3.2rem, $font: 'Nanum Gothic') {
    font-size: $size; 
    font-family: $font;
    padding: 5px;
}

$color: #000;
$size: 1280px;
$boldWeight: 600;
$font: "";
$sm: 576px;
$md: 768px;
$lg: 992px; 
$warn: red;

html { font-size: 62.5%; }
body { font-size: 1.6rem; font-family: 'Nanum Gothic'; }
.titl1 {
    @include titl($size: 4.2rem);
    font-weight: 800;
}
.titl2 { 
    @include titl(3.2rem, 'Nanum Pen Script');
    line-height: 5.2rem;
}

.warn { color: $warn; }

#footer {
    background-color: darkgray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 800;
        color: #fff;
        &:nth-child(1) {
            font-size: 1.4rem;
            a {
                padding: 5px 5px 5px 0;
                text-decoration: none;
                &:link, &:visited, &:hover {
                    color: #fff;
                }
                &:nth-of-type(2) {
                    padding-left: 5px;
                }
            }
        }
        
    }
    #findload {
        text-decoration: none;
        border: 2px solid #fff;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.img-wrap {
    border: 1px solid rgb(121, 107, 107);
    margin: 1px;
    position: relative;
    border-radius: 3px;
    .img-thumb {
        width: 180px;
    }
    .img-thumb-toolbar {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 2px 0;
        width: 100%;
        background-color: white;
    }
}
.text-right {text-align: right;}