.mng-head-menus
    a.mng-head-menu(href='/sys') 관리자 Home
    a.mng-head-menu(href='/sys_code/code_mng') 코드관리
    a.mng-head-menu(href='/sys_menu/menu_mng') 메뉴관리
    a.mng-head-menu(href='/sys_member/member_mng') 회원관리
    a.mng-head-menu(href='/sys_board/board_mng') 게시판관리

script.
    $('.mng-head-menus a').each((idx, el) => {
        if ($(el).text() == $('title').text()) {
            $(el).closest('.mng-head-menu').addClass('selected')
        }
    })
    