doctype html 
html(lang='ko')
    head
        title 관리자 Home
        include cmmn.pug

    body
        include cmmn_menu.pug
        .main
            h2(class='m-title center-text') [#{userId}] 환영합니다.
            hr
            
                    