doctype html 
html(lang='ko')
    head
        title admin login
        meta(name='viewport', content='width=device-width,initial-scale=1')
        link(href='/css/style.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    body
        #mian
            h1 Welcom #{userId}
            .menus
                .menu
                    a(href='/sys/code_mng') 코드관리
                .menu
                    a(href='/sys/menu_mng') 메뉴관리
                .menu
                    a(href='') 회원관리
                    