@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nanum Gothic";
}

.titl1 {
  font-size: 4.2rem;
  font-family: "Nanum Gothic";
  padding: 5px;
  font-weight: 800;
}

.titl2 {
  font-size: 3.2rem;
  font-family: "Nanum Pen Script";
  padding: 5px;
  line-height: 5.2rem;
}

.warn {
  color: red;
}

#footer {
  background-color: darkgray;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 800;
  color: #fff;
}
#footer p:nth-child(1) {
  font-size: 1.4rem;
}
#footer p:nth-child(1) a {
  padding: 5px 5px 5px 0;
  text-decoration: none;
}
#footer p:nth-child(1) a:link, #footer p:nth-child(1) a:visited, #footer p:nth-child(1) a:hover {
  color: #fff;
}
#footer p:nth-child(1) a:nth-of-type(2) {
  padding-left: 5px;
}
#footer #findload {
  text-decoration: none;
  border: 2px solid #fff;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.img-wrap {
  border: 1px solid rgb(121, 107, 107);
  margin: 1px;
  position: relative;
  border-radius: 3px;
}
.img-wrap .img-thumb {
  width: 180px;
}
.img-wrap .img-thumb-toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 0;
  width: 100%;
  background-color: white;
}

.text-right {
  text-align: right;
}

.ajax-chk-btn {
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.2rem;
  border: 1px solid #eee;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.ajax-chk-disp {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}

.paging-box {
  width: 50%;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-box .paging-item {
  font-size: 1.2rem;
  margin: 0 10px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 5px;
}
.paging-box .paging-item.selected {
  border: 1px solid darkgray;
}

/*# sourceMappingURL=style.css.map */
