doctype html 
html(lang='ko')
    head
        title 부서 생성
        include ../cmmn.pug
        include ../cmmn_board.pug

        script.
            $(document).ready(function(){
                window.addEventListener('unload', function(){
                    window.opener.openResult()
                });
            })

            let buttonClick = (e) => {
                let text = $(e).data('text');
                console.log(text);
                switch (text) {
                    case '부서등록':
                        if (!$('input[name="subject"]').val()) {
                            alert('표어가 없습니다.')
                            return
                        }
                        if (!$('input[name="bible_verse"]').val()) {
                            alert('주제성구가 없습니다.')
                            return
                        }
                        let markupStr = $('#summernote').summernote('code').trim()
                        if (!markupStr) {
                            alert('내용이 없습니다.')
                            return
                        }
                        $('input[name="content"]').val(markupStr)

                        $('form[name="dept_write"]').submit()

                        break;
                    //- case '닫기':
                    //-     window.opener.openResult()
                    //-     window.close()
                    //-     break;
                    default:
                        break;
                }
            }

    body
        .main
            h2(class='m-title center-text') 부서등록
            hr
            div(class='tool-bar flex-side mt10')
                span.s-title 부서 작성
            form(name='dept_write', action='/sys_dept/dept_write_process', method='post', enctype='application/x-www-form-urlencoded')
                #new.input-box
                    input(type='hidden', name='content')
                    div(class='tool-bar flex-left mb5')
                        label.flex-label100 조직구분:
                        select(name='slt_ctg')
                            - for (let i=0; i<ctg_cd.length; i++)
                                option(value=ctg_cd[i].cd)= ctg_cd[i].cd_nm
                    div(class='tool-bar flex-left mb5')
                        label.flex-label100 부서:
                        select(name='slt_dept')
                            - for (let i=0; i<dept_cd.length; i++)
                                option(value=dept_cd[i].cd)= dept_cd[i].cd_nm
                    div(class='tool-bar flex-left mb5')
                        label.flex-label100 표어:
                        input.wp70(type='text', id='subject', name='subject')
                    div(class='tool-bar flex-left mb5')
                        label.flex-label100 주제성구:
                        input.wp70(type='text', id='bible_verse', name='bible_verse')
                    div(class='tool-bar flex-left mb5')
                        label.flex-label100 예배시간:
                        input.wp30(type='text', id='worship_time', name='worship_time')
                    div(class='tool-bar flex-left mb10')
                        label.flex-label100 장소:
                        input.wp30(type='text', id='place', name='place')
                    div#summernote    
                    div.abs-top-right
                        button(data-text='부서등록', type='button', onclick='buttonClick(this)') 저장