doctype html 
html(lang='ko')
    head
        title home
        meta(name='viewport', content='width=device-width,initial-scale=1')
        link(href='css/style.css', rel='stylesheet')
        link(href='css/usr.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script.
            $(document).ready(function(){
                var menuNo = 0;
                $('#menu-site-map').click(function(){
                    $('#m-menu').css('margin-left', '0')
                })
                $('#mbl-menu-close').click(function(){
                    $('#m-menu').css('margin-left', '-60vw')
                })
                $('#menu > a').hover(function(){
                    menuNo = $(this).data('mainMenuNo');
                    $('.sub').css('display', 'none')
                    $('.sub#sub-menu' + menuNo).css('display', 'block');
                    $('#sub-menu').css('opacity', '0.9');
                    $('#sub-menu').css('height', '100px');
                }, function(){
                    $('.sub').css('display', 'none');
                    $('#sub-menu').css('opacity', '0');
                    $('#sub-menu').css('height', '0px');
                })
                $('#sub-menu').hover(function(){
                    $('.sub').css('display', 'none');
                    $('.sub#sub-menu' + menuNo).css('display', 'block');
                    $('#sub-menu').css('opacity', '0.9');
                    $('#sub-menu').css('height', '100px');
                }, function(){
                    $('.sub').css('display', 'none');
                    $('#sub-menu').css('opacity', '0');
                    $('#sub-menu').css('height', '0px');
                })

                $('.m-main-menu > a').click(function(){
                    $(this).children('span:eq(1)').toggleClass('icon-rotate90');
                    $(this).siblings('.m-sub-menu').toggleClass('m-sub-menu-on');
                })
            })
        
    body
        #container
            #header
                #logo 산곡교회
                #menu
                    a(href="#", data-main-menu-no="1") 교회소개
                    span |
                    a(href="#", data-main-menu-no="2") 교회소식
                    span |
                    a(href="#", data-main-menu-no="3") 교회방송
                    span |
                    a(href="#", data-main-menu-no="4") 선교와 봉사
                    span |
                    a(href="#", data-main-menu-no="5") 교회학교
                #side-menu
                    a#menu-login(href="#") 로그인
                    a#menu-mbr-join(href="#") 회원가입
                    a#menu-site-map(href="#") 사티트맵
                #sub-menu
                    .sub#sub-menu1
                        a(href="#") 인사말
                        a(href="#") 교회비전
                        a(href="#") 교회연혁
                        a(href="#") 섬기는 사람들
                        a(href="#") 예배안내
                        a(href="#") 오시는 길
                    .sub#sub-menu2
                        a(href="#") 교회소식
                        a(href="#") 교회행사
                        a(href="#") 새가족소개
                    .sub#sub-menu3
                        a(href="#") 주일설교
                        a(href="#") 특별영상
                        a(href="#") 찬양대
                    .sub#sub-menu4
                        a(href="#") 선교사역
                        a(href="#") 찬양대
                    .sub#sub-menu5
                        a(href="#") 어린이부
                        a(href="#") 청소년부
                        a(href="#") 청년부

            #m-menu
                #m-menu-head
                    a 로그인
                    a 회원가입
                    a.material-symbols-rounded#mbl-menu-close(href="javascript:void(0)") close
                .m-main-menu
                    a(href="#")
                        span 교회소개
                        span.material-symbols-rounded arrow_forward_ios
                    .m-sub-menu
                        a(href="#") 인사말
                        a(href="#") 교회비전
                        a(href="#") 교회연혁
                        a(href="#") 섬기는 사람들
                        a(href="#") 예배안내
                        a(href="#") 오시는 길
                .m-main-menu
                    a(href="#") 
                        span 교회소식
                        span.material-symbols-rounded arrow_forward_ios
                    .m-sub-menu
                        a(href="#") 교회소식
                        a(href="#") 교회행사
                        a(href="#") 새가족소개
                .m-main-menu
                    a(href="#") 
                        span 교회방송
                        span.material-symbols-rounded arrow_forward_ios
                    .m-sub-menu
                        a(href="#") 주일설교
                        a(href="#") 특별영상
                        a(href="#") 찬양대
                .m-main-menu
                    a(href="#") 
                        span 선교와 봉사
                        span.material-symbols-rounded arrow_forward_ios
                    .m-sub-menu
                        a(href="#") 선교사역
                        a(href="#") 찬양대
                .m-main-menu
                    a(href="#") 
                        span 교회학교
                        span.material-symbols-rounded arrow_forward_ios
                    .m-sub-menu
                        a(href="#") 어린이부
                        a(href="#") 청소년부
                        a(href="#") 청년부

            #main-banner
                img(src="img/sample/img01.jpg")
                img(src="img/sample/img02.jpg")
                img(src="img/sample/img03.jpg")
            
            #content
                .content-item 우리교회는?
                .content-item 사랑하고 축복합니다.
                .content-item 이번주 주일 설교
                .content-item 7월 목회 일정
                .content-item 교회학교 및 교육
                .content-item 특별광고
            #footer
                div
                    a(href="#") 개인정보처리방침
                    span |
                    a(href="#") 이메일집단수집거부
                div 인천광역시 부평구 길주로(산곡동, 기독교대한성결교회) | 전화:032-513-3434
