footer#footer
    div
        p 
            a(href='#') 개인정보보호방침
            span |
            a(href='#') 이메일무단수집거부
        p 
            | (우:12345) 인천광역시 부평구 원적로 123(산곡동) <br>
            | 기독교대한성결교회 산곡설결교회 <br>
            | 전화: 032-1004-1004
    div
        p
            a#findload(href='#') 찾아 오시는 길