doctype html 
html(lang='ko')
    head
        title home
        link(href='css/style.css', rel='stylesheet')
        link(href='css/home.css', rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        
        body
            #container
                header#header
                nav#topMenu
                    ul 
                        li
                            a.menu(href='#') MENU 1
                            ul#subMenu1
                                li
                                    a.subMenu(href='#') SUB-MENU 1
                                li
                                    a.subMenu(href='#') SUB-MENU 2
                                li
                                    a.subMenu(href='#') SUB-MENU 3
                                li
                                    a.subMenu(href='#') SUB-MENU 4

                        li
                            a.menu(href='#') MENU 2
                        li
                            a.menu(href='#') MENU 3
                        li
                            a.menu(href='#') MENU 4
                            ul#subMenu1
                                li
                                    a.subMenu(href='#') SUB-MENU 1
                                li
                                    a.subMenu(href='#') SUB-MENU 2
                                li
                                    a.subMenu(href='#') SUB-MENU 3
                                li
                                    a.subMenu(href='#') SUB-MENU 4

                main#main

                include footer.pug

            script(type='text/javascript').
                const menuPosition = $('#topMenu').offset().top;
                $(window).scroll(() => {
                    const windowPosition = $(window).scrollTop();
                    if (menuPosition <= windowPosition) {
                        $('#topMenu').addClass('fixed');
                        $('#topMenu > ul').addClass('fixed-1');
                    } else {
                        $('#topMenu').removeClass('fixed');
                        $('#topMenu > ul').removeClass('fixed-1');
                    }
                });